{% extends 'base.html' %}

{% block title %} {{ pet.name }} {% endblock %}

{% block content %}

<h2>{{ pet.name }}</h2>

  <img src="{{ pet.photo_url }}" alt="{{ pet.name }}">
  <p>
    {{ pet.name }}
    {{ pet.age }}
    {{ pet.species }}
  </p>

<h2>Edit</h2>

<form id="pet-edit-form" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
    if field.widget.input_type != 'hidden' %}

<p>
 {{ field.label }}
 {{ field }}

 {% for error in field.errors %}
   {{ error }}
 {% endfor %}
</p>

{% endfor %}

<button type="submit">Submit</button>
</form>

{% endblock %}